# Reading raw data and cleaning

In [1]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

In [56]:
from fastai import *
from fastai.structured import *
from pandas import pandas as pd
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn import metrics

In [3]:
PATH = "data/titanic/"
df_raw = pd.read_csv(f'{PATH}train.csv')

In [4]:
df_raw.shape

(891, 12)

In [7]:
df_raw

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
df_raw.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

## Replacing strings by categories

In [9]:
train_cats(df_raw)

In [10]:
df_raw.dtypes

PassengerId       int64
Survived          int64
Pclass            int64
Name           category
Sex            category
Age             float64
SibSp             int64
Parch             int64
Ticket         category
Fare            float64
Cabin          category
Embarked       category
dtype: object

## Replacing nulls by values

In [11]:
df_raw.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

**NOTE**: only 'Age' will need to be processed for missing values, the two others 'Cabin' and 'Embarked' will either way have to be replaced by numerics after being turned to categories, so the missing values will be a separate number category of their own

### Let's save the cleaned up raw training data to be able to retrieve next time.

In [ ]:
os.makedirs('tmp')

In [12]:
df_raw.to_feather('tmp/titanic-raw')

# Preprocessing of data

In [13]:
df_raw = pd.read_feather('tmp/titanic-raw')

/home/cyborgafterall/anaconda3/envs/fastai/lib/python3.6/site-packages/pandas/io/feather_format.py:112: FutureWarning: `nthreads` argument is deprecated, pass `use_threads` instead
  return feather.read_dataframe(path, nthreads=nthreads)

In [14]:
type(df_raw)

pandas.core.frame.DataFrame

## Separating the dependent variable 'Survived'

Note: the proc_df function also takes care of missing values (replacing them with the median, see effect on 'Age')

In [15]:
df, y, nas = proc_df(df=df_raw, y_fld='Survived')

In [16]:
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_na
0,1,3,109,2,22.0,1,0,524,7.2500,0,3,False
1,2,1,191,1,38.0,1,0,597,71.2833,82,1,False
2,3,3,354,1,26.0,0,0,670,7.9250,0,3,False
3,4,1,273,1,35.0,1,0,50,53.1000,56,3,False
4,5,3,16,2,35.0,0,0,473,8.0500,0,3,False
5,6,3,555,2,28.0,0,0,276,8.4583,0,2,True
6,7,1,516,2,54.0,0,0,86,51.8625,130,3,False
7,8,3,625,2,2.0,3,1,396,21.0750,0,3,False
8,9,3,413,1,27.0,0,2,345,11.1333,0,3,False
9,10,2,577,1,14.0,1,0,133,30.0708,0,1,False
10,11,3,728,1,4.0,1,1,617,16.7000,146,3,False
11,12,1,96,1,58.0,0,0,39,26.5500,50,3,False
12,13,3,730,2,20.0,0,0,536,8.0500,0,3,False
13,14,3,29,2,39.0,1,5,334,31.2750,0,3,False
14,15,3,841,1,14.0,0,0,414,7.8542,0,3,False
15,16,2,360,1,55.0,0,0,154,16.0000,0,3,False
16,17,3,683,2,2.0,4,1,481,29.1250,0,2,False
17,18,2,868,2,28.0,0,0,152,13.0000,0,3,True
18,19,3,840,1,31.0,1,0,302,18.0000,0,3,False
19,20,3,513,1,28.0,0,0,185,7.2250,0,1,True
20,21,2,274,2,35.0,0,0,140,26.0000,0,3,False
21,22,2,81,2,34.0,0,0,153,13.0000,112,3,False
22,23,3,524,1,15.0,0,0,279,8.0292,0,2,False
23,24,1,766,2,28.0,0,0,43,35.5000,14,3,False
24,25,3,627,1,8.0,3,1,396,21.0750,0,3,False
25,26,3,45,1,38.0,1,5,330,31.3875,0,3,False
26,27,3,241,2,28.0,0,0,180,7.2250,0,1,True
27,28,1,261,2,19.0,3,2,96,263.0000,64,3,False
28,29,3,606,1,28.0,0,0,284,7.8792,0,2,True
29,30,3,814,2,28.0,0,0,363,7.8958,0,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,2,284,2,21.0,1,0,222,11.5000,0,3,False
862,863,1,798,1,48.0,0,0,89,25.9292,95,3,False
863,864,3,719,1,28.0,8,2,569,69.5500,0,3,True
864,865,2,286,2,24.0,0,0,121,13.0000,0,3,False
865,866,2,123,1,42.0,0,0,127,13.0000,0,3,False
866,867,2,231,1,27.0,1,0,633,13.8583,0,1,False
867,868,1,697,2,31.0,0,0,591,50.4958,7,3,False
868,869,3,891,2,28.0,0,0,310,9.5000,0,3,True
869,870,3,408,2,4.0,1,1,345,11.1333,0,3,False
870,871,3,60,2,26.0,0,0,388,7.8958,0,3,False
871,872,1,80,1,47.0,1,1,55,52.5542,103,3,False
872,873,1,140,2,33.0,0,0,503,5.0000,35,3,False
873,874,3,837,2,47.0,0,0,304,9.0000,0,3,False
874,875,2,5,1,28.0,1,0,576,24.0000,0,1,False
875,876,3,572,1,15.0,0,0,196,7.2250,0,1,False
876,877,3,312,2,20.0,0,0,505,9.8458,0,3,False
877,878,3,658,2,19.0,0,0,359,7.8958,0,3,False
878,879,3,452,2,28.0,0,0,364,7.8958,0,3,True
879,880,1,669,1,56.0,0,1,60,83.1583,71,1,False
880,881,2,740,1,25.0,0,1,116,26.0000,0,3,False
881,882,3,511,2,33.0,0,0,395,7.8958,0,3,False
882,883,3,194,1,22.0,0,0,509,10.5167,0,3,False
883,884,2,62,2,28.0,0,0,566,10.5000,0,3,False
884,885,3,794,2,25.0,0,0,651,7.0500,0,3,False
885,886,3,685,1,39.0,0,5,481,29.1250,0,2,False
886,887,2,549,2,27.0,0,0,102,13.0000,0,3,False
887,888,1,304,1,19.0,0,0,15,30.0000,31,3,False
888,889,3,414,1,28.0,1,2,676,23.4500,0,3,True
889,890,1,82,2,26.0,0,0,9,30.0000,61,1,False
890,891,3,221,2,32.0,0,0,467,7.7500,0,2,False

In [29]:
df.shape

(891, 12)

In [27]:
y

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0])

In [28]:
y.shape

(891,)

In [17]:
# all the missing values for age (originally set as 0) were replaced by the median age 28.0
nas

{'Age': 28.0}

### (Or) If going the manual way without proc_df

In [18]:
y_fld = df_raw['Survived'].values
y_fld.shape

(891,)

In [19]:
y_fld

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0])

In [20]:
df_raw_x = df_raw.drop(columns='Survived')

In [21]:
df_raw_x.shape

(891, 11)

**NOTE**: if going this manual route without proc_df, we still need to take care of categories and numericalize them

## Splitting training and validation sets

In [36]:
n_train = len(y)//2
# n_valid = len(y)-n_train

In [37]:
y_train = y[:n_train]
y_valid = y[n_train:]
y_train.shape, y_valid.shape

((445,), (446,))

In [38]:
df_train = df[:n_train]
df_valid = df[n_train:]
df_train.shape, df_valid.shape

((445, 12), (446, 12))

In [39]:
df_train

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_na
0,1,3,109,2,22.0,1,0,524,7.2500,0,3,False
1,2,1,191,1,38.0,1,0,597,71.2833,82,1,False
2,3,3,354,1,26.0,0,0,670,7.9250,0,3,False
3,4,1,273,1,35.0,1,0,50,53.1000,56,3,False
4,5,3,16,2,35.0,0,0,473,8.0500,0,3,False
5,6,3,555,2,28.0,0,0,276,8.4583,0,2,True
6,7,1,516,2,54.0,0,0,86,51.8625,130,3,False
7,8,3,625,2,2.0,3,1,396,21.0750,0,3,False
8,9,3,413,1,27.0,0,2,345,11.1333,0,3,False
9,10,2,577,1,14.0,1,0,133,30.0708,0,1,False
10,11,3,728,1,4.0,1,1,617,16.7000,146,3,False
11,12,1,96,1,58.0,0,0,39,26.5500,50,3,False
12,13,3,730,2,20.0,0,0,536,8.0500,0,3,False
13,14,3,29,2,39.0,1,5,334,31.2750,0,3,False
14,15,3,841,1,14.0,0,0,414,7.8542,0,3,False
15,16,2,360,1,55.0,0,0,154,16.0000,0,3,False
16,17,3,683,2,2.0,4,1,481,29.1250,0,2,False
17,18,2,868,2,28.0,0,0,152,13.0000,0,3,True
18,19,3,840,1,31.0,1,0,302,18.0000,0,3,False
19,20,3,513,1,28.0,0,0,185,7.2250,0,1,True
20,21,2,274,2,35.0,0,0,140,26.0000,0,3,False
21,22,2,81,2,34.0,0,0,153,13.0000,112,3,False
22,23,3,524,1,15.0,0,0,279,8.0292,0,2,False
23,24,1,766,2,28.0,0,0,43,35.5000,14,3,False
24,25,3,627,1,8.0,3,1,396,21.0750,0,3,False
25,26,3,45,1,38.0,1,5,330,31.3875,0,3,False
26,27,3,241,2,28.0,0,0,180,7.2250,0,1,True
27,28,1,261,2,19.0,3,2,96,263.0000,64,3,False
28,29,3,606,1,28.0,0,0,284,7.8792,0,2,True
29,30,3,814,2,28.0,0,0,363,7.8958,0,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...
415,416,3,529,1,28.0,0,0,296,8.0500,0,3,True
416,417,2,227,1,34.0,1,1,225,32.5000,0,3,False
417,418,2,743,1,18.0,0,2,169,13.0000,0,3,False
418,419,2,514,2,30.0,0,0,226,13.0000,0,3,False
419,420,3,830,1,10.0,0,2,308,24.1500,0,3,False
420,421,3,282,2,28.0,0,0,393,7.8958,0,1,True
421,422,3,156,2,21.0,0,0,535,7.7333,0,2,False
422,423,3,885,2,29.0,0,0,260,7.8750,0,3,False
423,424,3,199,1,28.0,1,1,332,14.4000,0,3,False
424,425,3,702,2,18.0,1,1,459,20.2125,0,3,False
425,426,3,873,2,28.0,0,0,522,7.2500,0,3,True
426,427,2,163,1,28.0,1,0,101,26.0000,0,3,False
427,428,2,663,1,19.0,0,0,171,26.0000,0,3,False
428,429,3,250,2,28.0,0,0,438,7.7500,0,2,True
429,430,3,664,2,32.0,0,0,645,8.0500,116,3,False
430,431,1,93,2,28.0,0,0,4,26.5500,72,3,False
431,432,3,811,1,28.0,1,0,477,16.1000,0,3,True
432,433,2,492,1,42.0,1,0,628,26.0000,0,3,False
433,434,3,421,2,17.0,0,0,658,7.1250,0,3,False
434,435,1,745,2,50.0,1,0,73,55.9000,129,3,False
435,436,1,144,1,14.0,1,2,34,120.0000,48,3,False
436,437,3,254,1,21.0,2,2,677,34.3750,0,3,False
437,438,2,689,1,24.0,2,3,238,18.7500,0,3,False
438,439,1,262,2,64.0,1,4,96,263.0000,64,3,False
439,440,2,448,2,31.0,0,0,548,10.5000,0,3,False
440,441,2,345,1,45.0,1,1,572,26.2500,0,3,False
441,442,3,324,2,20.0,0,0,306,9.5000,0,3,False
442,443,3,660,2,25.0,1,0,329,7.7750,0,3,False
443,444,2,680,1,28.0,0,0,117,13.0000,0,3,False
444,445,3,403,2,28.0,0,0,500,8.1125,0,3,True

In [40]:
df_valid

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_na
445,446,1,217,2,4.00,0,2,290,81.8583,11,3,False
446,447,2,530,1,13.00,0,1,163,19.5000,0,3,False
447,448,1,736,2,34.00,0,0,46,26.5500,0,3,False
448,449,3,56,1,5.00,2,1,195,19.2583,0,1,False
449,450,1,662,2,52.00,0,0,41,30.5000,51,3,False
450,451,2,855,2,36.00,1,2,562,27.7500,0,3,False
451,452,3,317,2,28.00,1,0,498,19.9667,0,3,True
452,453,1,258,2,30.00,0,0,23,27.7500,54,1,False
453,454,1,291,2,49.00,1,0,85,89.1042,87,1,False
454,455,3,645,2,28.00,0,0,529,8.0500,0,3,True
455,456,3,393,2,29.00,0,0,380,7.8958,0,1,False
456,457,1,538,2,65.00,0,0,74,26.5500,127,3,False
457,458,1,437,1,28.00,1,0,87,51.8625,98,3,True
458,459,2,816,1,50.00,0,0,573,10.5000,0,3,False
459,460,3,604,2,28.00,0,0,469,7.7500,0,2,True
460,461,1,22,2,48.00,0,0,97,26.5500,118,3,False
461,462,3,558,2,34.00,0,0,430,8.0500,0,3,False
462,463,1,281,2,47.00,0,0,7,38.5000,134,3,False
463,464,2,539,2,48.00,0,0,122,13.0000,0,3,False
464,465,3,503,2,28.00,0,0,540,8.0500,0,3,True
465,466,3,297,2,38.00,0,0,640,7.0500,0,3,False
466,467,2,133,2,28.00,0,0,136,0.0000,0,3,True
467,468,1,767,2,56.00,0,0,45,26.5500,0,3,False
468,469,3,732,2,28.00,0,0,422,7.7250,0,2,True
469,470,3,55,1,0.75,2,1,195,19.2583,0,1,False
470,471,3,431,2,28.00,0,0,273,7.2500,0,3,True
471,472,3,125,2,38.00,0,0,264,8.6625,0,3,False
472,473,2,856,1,33.00,1,2,562,27.7500,0,3,False
473,474,2,402,1,23.00,0,0,629,13.7917,91,1,False
474,475,3,788,1,22.00,0,0,510,9.8375,0,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,2,284,2,21.00,1,0,222,11.5000,0,3,False
862,863,1,798,1,48.00,0,0,89,25.9292,95,3,False
863,864,3,719,1,28.00,8,2,569,69.5500,0,3,True
864,865,2,286,2,24.00,0,0,121,13.0000,0,3,False
865,866,2,123,1,42.00,0,0,127,13.0000,0,3,False
866,867,2,231,1,27.00,1,0,633,13.8583,0,1,False
867,868,1,697,2,31.00,0,0,591,50.4958,7,3,False
868,869,3,891,2,28.00,0,0,310,9.5000,0,3,True
869,870,3,408,2,4.00,1,1,345,11.1333,0,3,False
870,871,3,60,2,26.00,0,0,388,7.8958,0,3,False
871,872,1,80,1,47.00,1,1,55,52.5542,103,3,False
872,873,1,140,2,33.00,0,0,503,5.0000,35,3,False
873,874,3,837,2,47.00,0,0,304,9.0000,0,3,False
874,875,2,5,1,28.00,1,0,576,24.0000,0,1,False
875,876,3,572,1,15.00,0,0,196,7.2250,0,1,False
876,877,3,312,2,20.00,0,0,505,9.8458,0,3,False
877,878,3,658,2,19.00,0,0,359,7.8958,0,3,False
878,879,3,452,2,28.00,0,0,364,7.8958,0,3,True
879,880,1,669,1,56.00,0,1,60,83.1583,71,1,False
880,881,2,740,1,25.00,0,1,116,26.0000,0,3,False
881,882,3,511,2,33.00,0,0,395,7.8958,0,3,False
882,883,3,194,1,22.00,0,0,509,10.5167,0,3,False
883,884,2,62,2,28.00,0,0,566,10.5000,0,3,False
884,885,3,794,2,25.00,0,0,651,7.0500,0,3,False
885,886,3,685,1,39.00,0,5,481,29.1250,0,2,False
886,887,2,549,2,27.00,0,0,102,13.0000,0,3,False
887,888,1,304,1,19.00,0,0,15,30.0000,31,3,False
888,889,3,414,1,28.00,1,2,676,23.4500,0,3,True
889,890,1,82,2,26.00,0,0,9,30.0000,61,1,False
890,891,3,221,2,32.00,0,0,467,7.7500,0,2,False

# Training the Random Forest model

First looking at the training set score:

In [46]:
m = RandomForestRegressor(n_jobs=-1)
%time m.fit(df_train,y_train)
m.score(df_train,y_train)

CPU times: user 41.5 ms, sys: 5.12 ms, total: 46.6 ms
Wall time: 110 ms

0.8813748568520169

Now let's try the score on the validation set:

In [47]:
m = RandomForestRegressor(n_jobs=-1)
%time m.fit(df_valid,y_valid)
m.score(df_valid,y_valid)

CPU times: user 41.7 ms, sys: 1.89 ms, total: 43.6 ms
Wall time: 110 ms

0.8911356628982527

# Preparing submission to Kaggle

Read the test file for kg and prepare submission.

In [113]:
test_X_raw = pd.read_csv(f'{PATH}test.csv')

In [170]:
test_X_raw

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [115]:
test_X_raw.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Need to clean up test_X_raw from missing values and convert to categories in the same way so our model can use it.

In [116]:
train_cats(test_X_raw)

In [111]:
test_X_raw.dtypes

PassengerId       int64
Pclass            int64
Name           category
Sex            category
Age             float64
SibSp             int64
Parch             int64
Ticket         category
Fare            float64
Cabin          category
Embarked       category
dtype: object

In [163]:
test_X_raw.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

Note: the 'Fare' in the test set has a missing value, whereas it didn't in the training set.

In [174]:
test_X,_,test_NA = proc_df(df=test_X_raw)

In [193]:
test_X.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Age_na', 'Fare_na'],
      dtype='object')

In [192]:
test_X_raw[test_X_raw['Fare'].isnull()]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
152,1044,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S

In [188]:
## *NOTE*: I used the 'dontcare' variables ,_, to capture the only return variables I need (no need to remove a col).
## Another way of doing it is to retrieve the whole in one list xyz then take the first element only.
## In that case xyz[0] would be the dataframe I need

# test_XYZ = proc_df(df=test_X_raw)
# test_X = test_XYZ[0]

### Let's save the test_X_raw that was cleaned up.

In [212]:
test_X_raw.to_feather('tmp/titanic-raw-test')

Now we'll try removing the 'Fare_na' column which only has 1 missing value.

In [196]:
test_X_reduced = test_X.drop(columns='Fare_na')
test_X_reduced

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_na
0,892,3,207,2,34.5,0,0,153,7.8292,0,2,False
1,893,3,404,1,47.0,1,0,222,7.0000,0,3,False
2,894,2,270,2,62.0,0,0,74,9.6875,0,2,False
3,895,3,409,2,27.0,0,0,148,8.6625,0,3,False
4,896,3,179,1,22.0,1,1,139,12.2875,0,3,False
5,897,3,367,2,14.0,0,0,262,9.2250,0,3,False
6,898,3,85,1,30.0,0,0,159,7.6292,0,2,False
7,899,2,58,2,26.0,1,1,85,29.0000,0,3,False
8,900,3,5,1,18.0,0,0,101,7.2292,0,1,False
9,901,3,104,2,21.0,2,0,270,24.1500,0,3,False
10,902,3,188,2,27.0,0,0,196,7.8958,0,3,True
11,903,1,197,2,46.0,0,0,260,26.0000,0,3,False
12,904,1,353,1,23.0,1,0,53,82.2667,13,3,False
13,905,2,185,2,63.0,1,0,75,26.0000,0,3,False
14,906,1,70,1,47.0,1,0,363,61.1750,61,3,False
15,907,2,416,1,24.0,1,0,344,27.7208,0,1,False
16,908,2,205,2,35.0,0,0,61,12.3500,0,2,False
17,909,3,22,2,21.0,0,0,120,7.2250,0,1,False
18,910,3,189,1,27.0,1,0,357,7.9250,0,3,False
19,911,3,21,1,45.0,0,0,121,7.2250,0,1,False
20,912,1,325,2,55.0,1,0,317,59.4000,0,1,False
21,913,3,285,2,9.0,0,1,278,3.1708,0,3,False
22,914,1,139,1,27.0,0,0,315,31.6833,0,3,True
23,915,1,407,2,21.0,0,1,314,61.3792,0,1,False
24,916,1,330,1,48.0,1,3,320,262.3750,16,1,False
25,917,3,319,2,50.0,1,0,274,14.5000,0,3,False
26,918,1,289,1,22.0,0,1,15,61.9792,11,1,False
27,919,3,98,2,22.5,0,0,122,7.2250,0,1,False
28,920,1,45,2,41.0,0,0,12,30.5000,3,3,False
29,921,3,340,2,27.0,2,0,105,21.6792,0,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,59,2,21.0,0,0,226,7.7500,0,2,False
389,1281,3,293,2,6.0,3,1,206,21.0750,0,3,False
390,1282,1,295,2,23.0,0,0,33,93.5000,9,3,False
391,1283,1,232,1,51.0,0,1,312,39.4000,54,3,False
392,1284,3,1,2,13.0,0,2,282,20.2500,0,3,False
393,1285,2,156,2,47.0,0,0,283,10.5000,0,3,False
394,1286,3,215,2,29.0,3,1,147,22.0250,0,3,False
395,1287,1,350,1,18.0,1,0,38,60.0000,31,3,False
396,1288,3,80,2,24.0,0,0,245,7.2500,0,2,False
397,1289,1,151,1,48.0,1,1,37,79.2000,12,1,False
398,1290,3,225,2,22.0,0,0,177,7.7750,0,3,False
399,1291,3,84,2,31.0,0,0,54,7.7333,0,2,False
400,1292,1,38,1,30.0,0,0,239,164.8667,41,3,False
401,1293,2,152,2,38.0,1,0,129,21.0000,0,3,False
402,1294,1,154,1,22.0,0,1,8,59.4000,0,1,False
403,1295,1,65,2,17.0,0,0,13,47.1000,0,3,False
404,1296,1,150,2,43.0,1,0,45,27.7208,59,1,False
405,1297,2,280,2,20.0,0,0,343,13.8625,58,1,False
406,1298,2,387,2,23.0,1,0,130,10.5000,0,3,False
407,1299,1,401,2,50.0,1,1,14,211.5000,43,1,False
408,1300,3,317,1,27.0,0,0,161,7.7208,0,2,True
409,1301,3,297,1,3.0,1,1,352,13.7750,0,3,False
410,1302,3,274,1,27.0,0,0,229,7.7500,0,2,True
411,1303,1,263,1,37.0,1,0,49,90.0000,42,2,False
412,1304,3,173,1,28.0,0,0,185,7.7750,0,3,False
413,1305,3,354,2,27.0,0,0,268,8.0500,0,3,True
414,1306,1,284,1,39.0,0,0,325,108.9000,23,1,False
415,1307,3,333,2,38.5,0,0,347,7.2500,0,3,False
416,1308,3,385,2,27.0,0,0,221,8.0500,0,3,True
417,1309,3,303,2,27.0,1,1,106,22.3583,0,1,True

Predict values on test set using the trained model.
We need to round the result values so we get 0 or 1.
**NOTE**: converting from float to bool instead of rounding does not work because any non-zero value becomes 1!

In [ ]:
test_Y_reduced = m.predict(test_X_reduced)
test_Y_reduced = np.around(test_Y_reduced).astype(int)
test_Y_reduced

In [203]:
res_kg_reduced = pd.DataFrame({'PassengerId':test_X_reduced['PassengerId'], 'Survived':test_Y_reduced})
res_kg_reduced

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         1
20           912         1
21           913         1
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         1
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         1
408         1300         1
409         1301         1
410         1302         0
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [205]:
res_kg_reduced.to_csv('results/titanic-results-reduced.csv', index=False)

#### Trying the same but with the model trained on the entire set they provided

In [211]:
# combine both training and validation set and train the model on the whole thing before predicting test set.
df_comb = df_train.append(df_valid)
df_comb

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_na
0,1,3,109,2,22.0,1,0,524,7.2500,0,3,False
1,2,1,191,1,38.0,1,0,597,71.2833,82,1,False
2,3,3,354,1,26.0,0,0,670,7.9250,0,3,False
3,4,1,273,1,35.0,1,0,50,53.1000,56,3,False
4,5,3,16,2,35.0,0,0,473,8.0500,0,3,False
5,6,3,555,2,28.0,0,0,276,8.4583,0,2,True
6,7,1,516,2,54.0,0,0,86,51.8625,130,3,False
7,8,3,625,2,2.0,3,1,396,21.0750,0,3,False
8,9,3,413,1,27.0,0,2,345,11.1333,0,3,False
9,10,2,577,1,14.0,1,0,133,30.0708,0,1,False
10,11,3,728,1,4.0,1,1,617,16.7000,146,3,False
11,12,1,96,1,58.0,0,0,39,26.5500,50,3,False
12,13,3,730,2,20.0,0,0,536,8.0500,0,3,False
13,14,3,29,2,39.0,1,5,334,31.2750,0,3,False
14,15,3,841,1,14.0,0,0,414,7.8542,0,3,False
15,16,2,360,1,55.0,0,0,154,16.0000,0,3,False
16,17,3,683,2,2.0,4,1,481,29.1250,0,2,False
17,18,2,868,2,28.0,0,0,152,13.0000,0,3,True
18,19,3,840,1,31.0,1,0,302,18.0000,0,3,False
19,20,3,513,1,28.0,0,0,185,7.2250,0,1,True
20,21,2,274,2,35.0,0,0,140,26.0000,0,3,False
21,22,2,81,2,34.0,0,0,153,13.0000,112,3,False
22,23,3,524,1,15.0,0,0,279,8.0292,0,2,False
23,24,1,766,2,28.0,0,0,43,35.5000,14,3,False
24,25,3,627,1,8.0,3,1,396,21.0750,0,3,False
25,26,3,45,1,38.0,1,5,330,31.3875,0,3,False
26,27,3,241,2,28.0,0,0,180,7.2250,0,1,True
27,28,1,261,2,19.0,3,2,96,263.0000,64,3,False
28,29,3,606,1,28.0,0,0,284,7.8792,0,2,True
29,30,3,814,2,28.0,0,0,363,7.8958,0,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,2,284,2,21.0,1,0,222,11.5000,0,3,False
862,863,1,798,1,48.0,0,0,89,25.9292,95,3,False
863,864,3,719,1,28.0,8,2,569,69.5500,0,3,True
864,865,2,286,2,24.0,0,0,121,13.0000,0,3,False
865,866,2,123,1,42.0,0,0,127,13.0000,0,3,False
866,867,2,231,1,27.0,1,0,633,13.8583,0,1,False
867,868,1,697,2,31.0,0,0,591,50.4958,7,3,False
868,869,3,891,2,28.0,0,0,310,9.5000,0,3,True
869,870,3,408,2,4.0,1,1,345,11.1333,0,3,False
870,871,3,60,2,26.0,0,0,388,7.8958,0,3,False
871,872,1,80,1,47.0,1,1,55,52.5542,103,3,False
872,873,1,140,2,33.0,0,0,503,5.0000,35,3,False
873,874,3,837,2,47.0,0,0,304,9.0000,0,3,False
874,875,2,5,1,28.0,1,0,576,24.0000,0,1,False
875,876,3,572,1,15.0,0,0,196,7.2250,0,1,False
876,877,3,312,2,20.0,0,0,505,9.8458,0,3,False
877,878,3,658,2,19.0,0,0,359,7.8958,0,3,False
878,879,3,452,2,28.0,0,0,364,7.8958,0,3,True
879,880,1,669,1,56.0,0,1,60,83.1583,71,1,False
880,881,2,740,1,25.0,0,1,116,26.0000,0,3,False
881,882,3,511,2,33.0,0,0,395,7.8958,0,3,False
882,883,3,194,1,22.0,0,0,509,10.5167,0,3,False
883,884,2,62,2,28.0,0,0,566,10.5000,0,3,False
884,885,3,794,2,25.0,0,0,651,7.0500,0,3,False
885,886,3,685,1,39.0,0,5,481,29.1250,0,2,False
886,887,2,549,2,27.0,0,0,102,13.0000,0,3,False
887,888,1,304,1,19.0,0,0,15,30.0000,31,3,False
888,889,3,414,1,28.0,1,2,676,23.4500,0,3,True
889,890,1,82,2,26.0,0,0,9,30.0000,61,1,False
890,891,3,221,2,32.0,0,0,467,7.7500,0,2,False

In [217]:
y_comb = np.append(y_train, y_valid)
y_comb

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0])

In [218]:
len(df_comb),len(y_comb)

(891, 891)

In [219]:
m = RandomForestRegressor(n_jobs=-1)
%time m.fit(df_comb,y_comb)
m.score(df_comb,y_comb)

CPU times: user 78.3 ms, sys: 0 ns, total: 78.3 ms
Wall time: 111 ms

0.9024331320103537

In [220]:
test_comb_reduced = m.predict(test_X_reduced)
test_comb_reduced = np.around(test_comb_reduced).astype(int)
test_comb_reduced

array([0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 1, 0, 0, 0])

In [221]:
res_kg_comb_reduced = pd.DataFrame({'PassengerId':test_X_reduced['PassengerId'], 'Survived':test_comb_reduced})
res_kg_comb_reduced

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
5            897         0
6            898         0
7            899         1
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         0
20           912         0
21           913         1
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         1
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         1
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         0
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [223]:
res_kg_comb_reduced.to_csv('results/titanic-results-reduced-combined.csv', index=False)

#### Now try to keep the 'Fare_na' column in and instead add it to the model itself (no missing values for 'Fare' in training set so let's put an extra column for training with all False in 'Fare_na'). We'll look at validation errors of both models but will probably submit both to Public LB and see.

In [231]:
fare_na_col = df_comb.isnull()['Fare']
fare_na_col

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
861    False
862    False
863    False
864    False
865    False
866    False
867    False
868    False
869    False
870    False
871    False
872    False
873    False
874    False
875    False
876    False
877    False
878    False
879    False
880    False
881    False
882    False
883    False
884    False
885    False
886    False
887    False
888    False
889    False
890    False
Name: Fare, Length: 891, dtype: bool

In [235]:
len(df_comb.columns)

12

In [241]:
df_comb.insert(column='Fare_na',loc=len(df_comb.columns),value=fare_na_col)

ValueError: cannot insert Fare_na, already exists

In [244]:
df_comb.shape

(891, 13)

In [245]:
test_X.shape

(418, 13)

In [246]:
m = RandomForestRegressor(n_jobs=-1)
%time m.fit(df_comb,y_comb)
m.score(df_comb,y_comb)

CPU times: user 78.1 ms, sys: 2.47 ms, total: 80.6 ms
Wall time: 111 ms

0.899016393442623

In [247]:
test_comb_aug = m.predict(test_X)
test_comb_aug = np.around(test_comb_aug).astype(int)
test_comb_aug

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 0])

In [248]:
res_kg_comb_aug = pd.DataFrame({'PassengerId':test_X['PassengerId'], 'Survived':test_comb_aug})
res_kg_comb_aug

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
5            897         0
6            898         0
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         1
18           910         0
19           911         0
20           912         0
21           913         1
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         1
28           920         1
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         1
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [249]:
res_kg_comb_aug.to_csv('results/titanic-results-augmented-combined.csv', index=False)